.navBar {
  position: relative;
  height: px2rem(170px);
  .banner {
    width: 100%;
    height: px2rem(170px);
  }
  .navBar-header {
    font-size:px2rem(0px);
    position:absolute;
    top:px2rem(0px);
    margin-top: px2rem(10px);
    height:px2rem(40px);
    .location {
      margin-left: px2rem(20px);
      display: inline-block;
      background: rgba(0,0,0,.3);
      border-radius: px2rem(20px);
      padding: px2rem(8px);
      .location-marker,.location-arrow {
        font-size:16px;
        color:#fff;
        vertical-align: middle;
      }
      .location-address {
        margin: px2rem(0px) px2rem(5px);
        color:#fff;
        font-size:px2rem(14px);
        vertical-align: middle;
      }
    }
    .search {
      margin-left: px2rem(20px);
      display: inline-block;
      font-size:px2rem(0px);
      background: #fff;
      padding: px2rem(8px);
      border-radius: px2rem(20px);
    }
    .search-icon {
      font-size:px2rem(16px);
      color:#333;
      vertical-align: middle;   
    }
    .search-text {
      margin-left: px2rem(5px);
      display: inline-block;
      width: px2rem(120px);  
      font-size:px2rem(14px);
      color:#333;
      vertical-align: middle;   
    }
  }
}