.bottom-bar {
  position: fixed;
  bottom:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#999;
  width: 100%;
  height:px2rem(50px);
  border-top:1px solid #b6b6b6;
  background: #f6f6f6f2;
  .bottom-item {
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .bottom-icon {
      background: url('../BottomBar/imgs/tab-icons.png') no-repeat;
      background-size: cover;
      width: px2rem(25px);
      height:px2rem(25px);
      margin-bottom: px2rem(5px);
    }
    .homeIcon { 
      background-position-y: px2rem(-73px);
      &.active {
        background-position-y: px2rem(-48px);
      }
    }
    .orderIcon {
      background-position-y: px2rem(-26px);
      &.active {
        background-position-y: px2rem(0px);
      }
    }
    .myIcon {
      background-position-y: px2rem(-125px);
      &.active {
        background-position-y: px2rem(-100px);
      }
    }
    .bottom-text {
      font-size:px2rem(11px);
      &.active {
        color:#333;
      }
    }
  }
}