.banners {
  background: #fff;
  padding-top: px2rem(10px);
  padding-bottom: px2rem(30px);
  .banners-item {
    width: 25%;
    float:left;
    text-align: center;
    padding-bottom: px2rem(7px);
    .banners-img {
      width: px2rem(47px);
      height:px2rem(47px);
      margin-bottom: px2rem(6px);
    }
    .banners-text {
      color:#2f2f2f;
      font-size:px2rem(13px);
    }
  }
  .clearfix {
    display: block;
    overflow: hidden;
    clear: both;
  }
}