.my {
  .my-header {
    text-align: center;
    background: url('../My/imgs/user-banner.png') no-repeat;
    background-size: contain;
    width: 100%;
    height:px2rem(160px);
    .avatar {
      margin-top: px2rem(20px);
      height:px2rem(72px);
      width: px2rem(72px);
      padding: px2rem(3px);
      border-radius: 50%;
    }
    .nickName {
      font-size:px2rem(16px);
      color:#333;
    }
  }
  .my-bottom {
    .item {
      background: #fff;
      border-bottom:px2rem(10px) solid #eeeeee;
      li {
        position: relative;
        height:px2rem(44px);
        line-height:px2rem(44px);
        display: flex;
        flex-direction: row;
        align-items: center;
        &:after {
          background: #eee;
        }
        .icon {
          margin-left: px2rem(15px);
          margin-right: px2rem(10px);
          font-size:px2rem(20px);
          color:#c0c0c0;
        }
        .text {
          color:#333;
          font-size:px2rem(14px);
        }
        .arrow {
          position: absolute;
          right: px2rem(10px);
        }
      }
    }
    .phone {
      width: 100%;
      height:px2rem(44px);
      line-height: px2rem(44px);
      background: #fff;
      text-align: center;
      font-size: px2rem(15px);
      color: #FFB000;
    }
    .time {
      text-align: center;
      width: 100%;
      font-size: px2rem(14px);
      color: #999;
      margin-top: px2rem(10px);
    }
  }
}