.order-list {
  background: #fff;
  padding-bottom: px2rem(50px);
  .order-item {
    padding-bottom: px2rem(10px);
    margin-bottom: px2rem(20px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: px2rem(10px) solid #eee;
    &:after {
      background: #eee;
    }
    .left {
      margin-left: px2rem(15px);
      .order-img {
        width: px2rem(40px);
        height:px2rem(40px);
        border-radius: 50%;
        margin: px2rem(5px) px2rem(10px) px2rem(5px) 0px;
      }   
    }
    .right {
      width: px2rem(315px);
      .firstLine {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        height: 40px;
        &:after {
          background: #eee;
        }
        h4 {
          font-size:16px;
          color:#333;
          font-weight: bold;
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .arrow {
          margin-left: 15px;
          font-size:20px;
        }
        span {
          position: absolute;
          right:10px;
          font-size:14px;
          color:#999;
        }
      }
      .secondLine {
        .menu {
          margin-top: 10px;
          position: relative;
          font-size:16px;
          color:#666;
          .menuCount {  
            position: absolute;
            right:10px;
          }
        }
      }
      .desc {
        margin: px2rem(20px) px2rem(10px) px2rem(10px) 0px;
        font-size:px2rem(12px);
        color:#666;
        text-align: right;
        .money {
          font-size: px2rem(14px);
          color: #151515;
        }  
      }
    }
  }
}